* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background: linear-gradient(to bottom right, #ffffff, #cce7d8);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.wrapper {
  padding: 20px;
  width: 100%;
  max-width: 420px;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 8px 30px rgba(0,0,0,0.1);
  text-align: center;
}

h1 {
  color: #00874d;
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  color: #444;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}

button {
  background-color: #198754;
  color: white;
  padding: 12px;
  width: 100%;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #157347;
}

.follow-btn {
  display: inline-block;
  background-color: #00874d;
  color: white;
  padding: 10px 15px;
  margin-bottom: 20px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  transition: background 0.3s ease;
}

.follow-btn:hover {
  background-color: #000000;
}

#status {
  margin-top: 12px;
  font-size: 14px;
  color: #000000;
}
